{%- unless site.published -%}
{%- capture text-%}
{%- if include.issue -%}
  <a href="https://github.com/{% if include.repo %}{{include.repo}}{% else %}{{page.github.repository}}{% endif %}/issues/{{include.issue}}">Issue #{{include.issue}}</a> — {{ include.note }}
{%- else -%}
  {%- if include.pr -%}
    <a href="https://github.com/{% if include.repo %}{{include.repo}}{% else %}{{page.github.repository}}{% endif %}/pull/{{include.pr}}">Pull Request #{{include.pr}}</a> — {{ include.note }}
  {%- else -%}
    {{ include.note }}
  {%- endif -%}
{%- endif -%}
{%- endcapture -%}
<span style="border: 5px solid var(--gold);"><strong style="background-color: var(--gold);">Editor’s Note:</strong> {{text }}</span><br>
{%- endunless -%}